VITE_SUPABASE_URL=https://kjrfcbxrcajsspsgjqnh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqcmZjYnhyY2Fqc3Nwc2dqcW5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxMjE2MjMsImV4cCI6MjEwMjY5NzYyM30.gszXr71nudJXpL-6GwImPiqrPi8sLc-1uy8MQk79h8U
